html, body {
    height: 100%;
}

body {
    font-family: 'Calibri', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: @body-bg;
    font-size: 13px;
    @media
    only screen and (-webkit-min-device-pixel-ratio: 1.25),
    only screen and ( min-device-pixel-ratio: 1.25),
    only screen and ( min-resolution: 200dpi),
    only screen and ( min-resolution: 1.25dppx)
    {
        -webkit-font-smoothing: subpixel-antialiased;
    }
}

header {
    .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;
        /*> img {
            max-height: 100%;
        }*/
        .symbol {
            font: bold 46px Arial, sans-serif;
            position: relative;
            color: #f5f5f5;
        }
        .symbol:before {
            content: attr(data-symbol);
            color: rgba(255, 255, 255, 0.1);
            position: absolute;
            top: -1px;
            left: 1px;
        }
        .symbol-n {
            margin-left: -3px;
            color: #4788c2;
            text-shadow: 0px -1px 0px #28547b, -1px 0 0px #28547b, -1px -1px 0px #28547b;
        }
        .symbol-n:before {
            text-shadow: -1px -1px 0px #337ab7;
        }
        .symbol-ua {
            margin-left: -5px;
            color: #ce782c;
            text-shadow: 0px -1px 0px #7a471a, -1px 0 0px #7a471a, -1px -1px 0px #7a471a;
        }
        .symbol-ua:before {
            text-shadow: -1px -1px 0px #ce782c;
        }
    }

    .navbar-right {
        @media (min-width: 768px){
            margin-right: 7.5px;
        }
        > li {
            margin-left: 7.5px;
        }
        .btn {
            margin: 8px 0;
            & + .btn {
                margin-left: 5px;
            }
            &.btn-user {
                img {
                    width: 30px;
                    margin: -8px 0px -6px -15px;
                }
            }
        }
    }
    @media (min-width: 768px){
        .navbar-nav > li > a {
            padding-top: 6px;
            padding-bottom: 6px;
        }
    }
    &.navbar-inverse .navbar-nav > li > a {
        color: #ffffff;
    }
}

.overflow-hidden {
    overflow: hidden;
}