.main {
    padding-top: 50px;
    height: inherit;
    .view {
        height: inherit;
        .container-fluid {
            height: inherit;
        }
        .breadcrumb {
            margin-bottom: 0;
        }
    }
}