<header class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" title="Bug Tracking System">
                <strong class="symbol" data-symbol="BTS.">BTS.</strong>
                <strong class="symbol symbol-n" data-symbol="N.">N.</strong>
                <strong class="symbol symbol-ua" data-symbol="UA">UA</strong>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {{#if user.status}}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <button type="button" class="btn btn-primary"
                                ng-click="newTask.modal()">New Task</button>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle btn btn-link btn-user"
                           data-toggle="dropdown" role="button" aria-expanded="false">
                            <img src="{{avatars}}{{user.avatar}}">
                            {{user.email}} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/profile" ui-sref="profile">Profile</a></li>
                            <li class="divider"></li>
                            <li><a href="/logout" ui-sref="logout">Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            {{else}}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/login" ui-sref="login" class="btn btn-primary">Login</a>
                    </li>
                    <li>
                        <a href="/signup" ui-sref="signup" class="btn btn-link">Sign Up</a>
                    </li>
                </ul>
            {{/if}}
        </div><!--/.navbar-collapse -->
    </div>
</header>