<ul class="nav nav-sidebar">
{{#if user.status}}
    <li class="avatar"><a href="#">
        <img src="{{avatars}}{{user.image}}" alt="">
    </a></li>
    <li class="active"><a href="/{{user.url}}" ui-sref="user({name:'{{user.url}}'})">
        <i class="fa fa-user"></i>
        <span>{{user.name}}</span></a></li>
    <li><a href="/{{user.url}}/friends" ui-sref="friends({name:'{{user.url}}'})">
        <i class="fa fa-user fa-friends"></i>
        <span>Мои друзья</span></a></li>
    <li><a href="#">
        <i class="fa fa-gamepad"></i>
        <span>Мои игры</span></a></li>
    <li><a href="#">
        <i class="fa fa-group"></i>
        <span>Мои группы</span></a></li>
    <li><a href="#">
        <i class="fa fa-leanpub"></i>
        <span>Новости</span></a></li>
    <li><a href="#">
        <i class="fa fa-gear"></i>
        <span>Настройки</span></a></li>
    <li><a href="#">
        <i class="fa fa-power-off"></i>
        <span>Выход</span></a></li>

{{else}}
    <li class="avatar"><a href="#">
        <img src="{{avatars}}{{user.image}}" alt="">
    </a></li>
    <li><a href="/login" ui-sref="login"><i class="fa fa-sign-in"></i>
        <span>Вход</span></a></li>
    <li><a href="#"><i class="fa fa-user-plus"></i>
        <span>Регистрация</span></a></li>
{{/if}}
</ul>