<!DOCTYPE html>
<html lang="en" ng-app="BTS">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="icon" type="image/x-icon" href="{{static}}/favicon.ico">
    <link rel="stylesheet" href="{{static}}/frontend/css/frontend.css">
    <link rel="stylesheet" href="{{static}}/css/textAngular/textAngular.css">
    <script type="text/javascript" src="{{static}}/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{static}}/js/jquery-ui-1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{static}}/frontend/js/frontend.js"></script>
    <script src="{{static}}/js/textAngular/textAngular-rangy.min.js" type="text/javascript"></script>
    <script src="{{static}}/js/textAngular/textAngular-sanitize.min.js" type="text/javascript"></script>
    <script src="{{static}}/js/textAngular/textAngular.min.js" type="text/javascript"></script>
    <script src="{{static}}/js/psd.parser.min.js"></script>
</head>
<body ng-controller="BTSCtrl">
{{>header}}
<div class="main">
    <div class="view" ui-view>
        {{{body}}}
    </div>
</div>
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <button type="button" class="btn btn-default fa fa-close pull-right"
                ng-click="cancel()"></button>
        <h3 class="modal-title">Create New Task</h3>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="title" placeholder="Title"
                            ng-model="task.title"/>
                </div>
            </div>
            <div class="form-group">
                <label for="Message" class="col-sm-2 control-label">Message</label>
                <div class="col-sm-10">
                    <textarea id="Message" class="form-control" rows="2" placeholder="Message"
                              ng-model="task.message"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-10 col-xs-offset-2">
                    <div class="row">
                    <!-- Type -->
                    <div class="col-xs-4">
                        <div class="input-group">
                            <span class="input-group-addon">Type</span>
                            <div class="btn-group" dropdown>
                                <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                                    <span class="fa [{types[task.type]['icon']}]"> [{types[task.type]['name']}]</span> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="(id,type) in types" ng-click="task.type = type.id">
                                        <a href="#"><i class="fa [{type.icon}]"></i> [{type.name}]</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Priority -->
                    <div class="col-xs-4">
                        <div class="input-group">
                            <span class="input-group-addon">Priority</span>
                            <div class="btn-group" dropdown>
                                <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                                    <span class="fa [{priorities[task.priority]['icon']}]"> [{priorities[task.priority]['name']}]</span> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="(id,priority) in priorities" ng-click="task.priority = priority.id">
                                        <a href="#"><i class="fa [{priority.icon}]"></i> [{priority.name}]</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Assign To -->
                    <div class="col-xs-4">
                        <div class="input-group">
                            <span class="input-group-addon">Assign To</span>
                            <div class="btn-group" dropdown>
                                <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                                    <img ng-src="{{avatars}}[{users[task.assign]['avatar']}]" width="20"> [{users[task.assign]['name']}]</span> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="(id,user) in users" ng-click="task.assign = user.id">
                                        <a href="#">
                                            <img ng-src="{{avatars}}[{user.avatar}]" alt="[{user.name}]" width="20" /> [{user.name}]
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <div id="description" text-angular="" ng-model="task.description"></div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Attachments</label>
                <div class="col-sm-10">
                    <div class="row" style="margin-bottom: 20px;">
                        <div class="col-xs-12">

                            <div class="input-group">
                                <div class="input-group-btn">
                                    <div class="btn btn-primary btn-file">
                                        <i class="fa fa-folder-open"></i> &nbsp;Browse …
                                        <input type="file" multiple name="attachments" class="btn btn-default"
                                               fu-file uploader="uploader" ng-model="file" />
                                    </div>
                                </div>
                                <input type="text" class="form-control" placeholder=""
                                       ng-model="Names" ng-list readonly/>
                                <!--<div class="input-group-btn">
                                    <button class="btn btn-success">
                                        Upload
                                    </button>
                                </div>-->
                            </div>

                        </div>

                    </div>
                    <!-- Превью перед загрузкой -->
                    <div class="row">
                        <div class="col-xs-3" ng-repeat="Preview in Previews">
                            <a href="#" class="thumbnail">
                                <img src="" alt="" fu-thumb="Preview" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Create</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
</body>
</html>