<!DOCTYPE html>
<html lang="en" ng-app="BTS">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="{{static}}/frontend/css/frontend.css">
    <link rel="icon" type="image/x-icon" href="{{static}}/favicon.ico">
    <script type="text/javascript" src="{{static}}/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{static}}/frontend/js/frontend.js"></script>
</head>
<body class="login">
<div class="view" ui-view>
    {{{body}}}
</div>
</body>
</html>