<div class="login">
    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="container-fluid">

                <div class="inner cover">
                    <form class="form-signin" ng-submit="Login()">
                        <h2 class="form-signin-heading">Please Login</h2>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input id="email" type="email" class="form-control" placeholder="Enter email"
                                   ng-model="user.email" />
                        </div>
                        <div class="form-group">
                            <label for="passwd">Password</label>
                            <input id="passwd" type="password" class="form-control" placeholder="Password"
                                   ng-model="user.passwd" />
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="remember-me"> Remember me
                            </label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Login
                        </button>
                    </form>
                </div>

            </div>

        </div>

    </div>
</div>