<div class="panel panel-default">
    <div class="panel-heading">
        <ol class="breadcrumb">
            <li><a href="/RapidBoard" ui-sref="RapidBoard">RapidBoard</a></li>
            <li class="active">Profile</li>
        </ol>
    </div>
    <div class="panel-body">

        <div class="">
            <div class="row profile">

                <div class="profile-sidebar">
                    <!-- SIDEBAR USERPIC -->
                    <div class="profile-userpic">
                        <img src="{{avatars}}{{user.avatar}}"
                             class="img-responsive"
                             alt=""
                             ng-src="{{avatars}}[{user.avatar}]"/>
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            {{user.name}}
                        </div>
                        <div class="profile-usertitle-job">
                            {{user.role}}
                        </div>
                    </div>
                    <!-- END SIDEBAR USER TITLE -->
                    <!-- SIDEBAR BUTTONS -->
                    <!--<div class="profile-userbuttons">
                        <button type="button" class="btn btn-success btn-sm">Follow</button>
                        <button type="button" class="btn btn-danger btn-sm">Message</button>
                    </div>-->
                    <!-- END SIDEBAR BUTTONS -->
                    <!-- SIDEBAR MENU -->
                    <div class="profile-usermenu">
                        <ul class="nav">
                            <!--<li class="active">
                                <a href="#">
                                    <i class="glyphicon glyphicon-home"></i>
                                    Overview </a>
                            </li>-->
                            <li class="active">
                                <a href="#">
                                    <i class="fa fa-user"></i>
                                    Account Settings </a>
                            </li>
                            <!--<li class="">
                                <a href="#" target="_blank">
                                    <i class="fa fa-tasks"></i>
                                    Tasks </a>
                            </li>-->
                            <!--<li class="">
                                <a href="#">
                                    <i class="glyphicon glyphicon-flag"></i>
                                    Help </a>
                            </li>-->
                        </ul>
                    </div>
                    <!-- END MENU -->
                </div>

                <div class="profile-content">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-8">
                                <label for="name">Name</label>
                                <input id="name" type="text" class="form-control"
                                       placeholder="New name" readonly onfocus="this.removeAttribute('readonly')"
                                       ng-model="user.name" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8">
                                <label for="email">Email address</label>
                                <input id="email" type="email" class="form-control"
                                       placeholder="New email" readonly onfocus="this.removeAttribute('readonly')"
                                       ng-model="user.email" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8">
                                <label for="passwd">Password</label>
                                <input id="passwd" type="password" class="form-control"
                                       placeholder="New Password" readonly onfocus="this.removeAttribute('readonly')"
                                       ng-model="user.passwd" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8">
                                <label class="">Avatar</label>
                                <div class="row" style="margin-bottom: 20px;">
                                    <div class="col-xs-12">

                                        <div class="input-group">
                                            <div class="input-group-btn">
                                                <div class="btn btn-primary btn-file">
                                                    <i class="fa fa-folder-open"></i> &nbsp;Browse …
                                                    <input type="file" name="attachments" class="btn btn-default"
                                                           fu-file uploader="uploader" ng-model="file" />
                                                </div>
                                            </div>
                                            <input type="text" class="form-control" placeholder=""
                                                   ng-model="Name" ng-list readonly/>
                                        </div>

                                    </div>

                                </div>
                                <!-- Превью перед загрузкой -->
                                <div class="row" ng-if="Avatar">
                                    <div class="col-xs-3">
                                        <a href="#" class="thumbnail">
                                            <img src="" alt="" fu-thumb="Avatar" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-lg btn-success"
                                ng-click="Save()">Save</button>
                    </form>
                </div>

            </div>
        </div>

    </div>
</div>