<div class="login">
    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="container-fluid">

                <div class="inner cover">
                    <form class="form-signin" ng-submit="signUp()">
                        <h2 class="form-signin-heading">Sign Up</h2>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input id="email" type="email" class="form-control" placeholder="Enter email"
                                    ng-model="user.email" />
                        </div>
                        <div class="form-group">
                            <label for="passwd">Password</label>
                            <input id="passwd" type="password" class="form-control" placeholder="Password"
                                   ng-model="user.passwd" />
                        </div>
                        <div class="form-group">
                            <label for="role">Role</label>
                            <select class="form-control" ng-model="user.role">
                                <option value="1" selected>Developer</option>
                                <option value="2">Tester</option>
                                <option value="3">Supervisor</option>
                                <option value="4">Outsider</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-lg btn-primary btn-block" type="submit">
                                Send
                            </button>
                        </div>
                    </form>
                </div>

            </div>

        </div>

    </div>
</div>