.dashboard {

    &-top {
        padding-top: 15px;
        .dashboard-col {
            box-shadow:
                1px 0 0 0 #bbbbbb,
                -1px 0 0 0 #bbbbbb,
                0 -1px 0 0 #bbbbbb;
            margin: 0;
            padding: 10px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            min-height: 40px;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                z-index: 1;
                top: 100%;
                left: 0;
                width: 100%;
                height: 2px;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                box-shadow:
                    1px 0 0 0 #bbbbbb,
                    -1px 0 0 0 #bbbbbb,
                    0 -1px 0 0 #bbbbbb;
            }
        }
    }

    &-col {
        background: #ffffff;
    }

    &-groups {
        overflow: hidden;
        padding: 0 7.5px;
        .transition(.6s ease-in-out margin-right);
        max-height: 100%;
        height: inherit;
        overflow-y: auto;
    }

    &-tasks {
        .dashboard-col {
            //margin-top: -7.5px;
            box-shadow:
                1px 0 0 0 #bbbbbb,
                -1px 0 0 0 #bbbbbb,
                0 1px 0 0 #bbbbbb;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            min-height: 60px;
            background: #ffffff;
            width: 100%;
            float: left;
        }
        .task {
            padding: 5px 5px 5px 15px;
            margin: 7.5px 0;
            min-height: 10px;
            position: relative;
            cursor: default;
            z-index: 2;
            &:hover,
            &:active {
                background: @body-bg;
            }
            &:active {
                box-shadow: inset 0 0 1px black;
            }
            &-placeholder {
                min-height: 60px;
                border: 1px dashed;
            }
            &-handle {
                width: 8px;
                position: absolute;
                top: 1px;
                left: 1px;
                bottom: 1px;
                cursor: move;
                background-color: #bbbbbb;
                background-image: radial-gradient(#fff 10%, transparent 10%), radial-gradient(#fff 10%, transparent 10%);
                background-size: 15px 15px;
                background-position: -3px -3px;
            }
            &-title {

            }
            .assign {
                float: right;
                width: 30px;
                margin-left: 5px;
                /*.name,
                img {
                    display: inline-block;
                    vertical-align: middle;
                }
                img {
                    width: 20px;
                }*/
                text-align: center;
                img {
                    width: 30px;
                }
                .name {
                    display: block;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
            h6 {
                overflow: hidden;
                margin: 3px 0;
                font-size: 15px;
                line-height: 17px;
                font-weight: 500;
                &:first-letter {
                    text-transform: uppercase;
                }
                .fa {
                    float: left;
                    margin-right: 5px;
                }
                a {
                    display: block;
                    overflow: hidden;
                }
            }
            &-body {
                .fa {
                    float: left;
                    margin-right: 5px;
                }
                p {
                    line-height: 14px;
                    display: block;
                    overflow: hidden;
                }
            }
            &.blocker {
                .task-handle {
                    background-color: #cc0000;
                }
                .task-body .fa {
                    color: #cc0000;
                }
            }
            &.major {
                .task-handle {
                    background-color: #ea632b;
                }
                .task-body .fa {
                    color: #ea632b;
                }
            }
            &.minor {
                .task-handle {
                    background-color: #14892c;
                }
                .task-body .fa {
                    color: #14892c;
                }
            }
        }
    }
    @preview-width : 400px;
    &-preview {
        position: fixed;
        right: -@preview-width;
        top: 50px;
        bottom: 0;
        width: @preview-width;
        overflow: auto;
        -webkit-animation-duration: .6s;
        animation-duration: .6s;
        -webkit-animation-name: previewLeft;
        animation-name: previewLeft;
        &.active {
            right: 0;
            -webkit-animation-name: previewRight;
            animation-name: previewRight;
            & + .dashboard-groups {
                -webkit-animation-name: groupsRight;
                -webkit-animation-duration: .6s;
                animation-name: groupsRight;
                animation-duration: .6s;
                margin-right: @preview-width;
            }
        }

        > .btn {
            position: absolute;
            top: 0;
            right: 0;
        }

        .task {
            .breadcrumb {
                padding-right: 36px;
                li {
                    font-size: 15px;
                    a {
                        display: block;
                    }
                   &:first-child {
                       display: none;
                       + li:before {
                           content: '';
                           padding: 0;
                       }
                   }
                }
            }
            .col-xs-4 {
                width: 50%;
                &.date {
                    width: 100%;
                }
                .dl-horizontal {
                    dt {
                        width: 60px;
                    }
                    dd {
                        margin-left: 80px;
                    }
                }
            }
            .attachments {
                .img {
                    max-width: 33.333%;
                }
            }
        }

    }

    @-webkit-keyframes groupsRight {
        from    {margin-right: 0;}
        to      {margin-right: @preview-width;}
    }

    @keyframes groupsRight {
        from    {margin-right: 0;}
        to      {margin-right: @preview-width;}
    }

    @-webkit-keyframes previewLeft {
        from    {right: 0;}
        to      {right: -@preview-width;}
    }

    @keyframes previewLeft {
        from    {right: 0;}
        to      {right: -@preview-width;}
    }

    @-webkit-keyframes previewRight {
        from    {right: -@preview-width;}
        to      {right: 0;}
    }

    @keyframes previewRight {
        from    {right: -@preview-width;}
        to      {right: 0;}
    }


}