.task-preview {
    .panel,
    .breadcrumb {
        margin-bottom: 0;
    }

    .breadcrumb {
        padding-left: 0;
    }

    dd {
        //
        // Priorities
        //
        &.blocker {
            color: #cc0000;
        }
        &.major {
            color: #ea632b;
        }
        &.minor {
            color: #14892c;
        }
        //
        // Statuses
        //
        &.close {
            color: #cc0000;
        }
        &.reopen {
            color: #ea632b;
        }
        &.resolve {
            color: #14892c;
        }
    }

    dl {
        margin-bottom: 0;
    }

    .peoples {
        dd {
            margin-bottom: 10px;
        }
        img,
        .name {
            display: inline-block;
            vertical-align: middle;
        }
        img {
            width: 18px;
        }
    }

    .attachments {
        font-size: 0;
        .img {
            display: inline-block;
            max-width: 20%;
            padding: 7.5px;
            margin-left: -7.5px;
            .download {
                font-size: 0;
                background-color: #ffffff;
                border: 1px solid @thumbnail-border;
                border-radius: 1px;
                padding: 4px;
                display: table;
                margin-top: -1px;
                text-align: center;
                width: 100%;
                table-layout: fixed;
                i,span {
                    display: table-cell;
                    font-size: 14px;
                }
                i {
                    width: 20px;
                }
                span {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: block;
                    height: 20px;
                }
            }
        }
    }

    .comments {
        .author {
            &-image {
                width: 36px;
                height: 36px;
                float: left;
                margin-right: 10px;
            }
            &-name {
                //display: block;
                //width: 100%;
            }
        }
        &-add {
            padding: 5px 10px 10px;
            margin: -1px 0 0;
            .form-group {
                overflow: hidden;
                margin: 0;
            }
            label {
                display: block;
                font-weight: normal;
                margin-bottom: 0;
                position: relative;
            }
            textarea {
                min-height: 34px;
                border-color: #ddd;
                box-shadow: none;
                display: block;
                line-height: 14px;
                padding: 3px 10px;
                min-width: 100%;
                max-width: 100%;
            }
        }

        hr {
            margin: 5px 0;
        }

        &-list {

        }

        .comment {
            padding: 10px;
            .author {
                line-height: 20px;
                &-image {
                    width: 20px;
                    height: 20px;
                }
            }
            &:hover {
                background: @body-bg;
            }
        }

    }
}