/*.btn {
    .fa,
    .text {
        display: inline-block;
        margin: 0 2.5px;
    }
    &-text {
        .button-variant(darken(@iBorder,50%),transparent,transparent);
        .fa {
            color: darken(@iBorder,70%);
        }
        &:hover,
        &:focus,
        &.focus,
        &:active,
        &.active,
        .open > .dropdown-toggle& {
            color: darken(@iBorder,70%);
        }
    }
    &,
    &:active,
    &.active {
        &:focus,
        &.focus {
            outline: none;
            box-shadow: none;
        }
    }
}*/

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}