input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    margin-left: -25px;
    border: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &:after {
        content: "";
        display: block;
        width: 18px;
        height: 18px;
        margin-top: -2px;
        margin-right: 5px;
        border: 2px solid @gray;
        border-radius: 2px;
        .transition(240ms);
    }

    &:checked:before {
        content: "";
        position: absolute;
        top: 0;
        left: 6px;
        display: table;
        width: 6px;
        height: 12px;
        border: 2px solid #fff;
        border-top-width: 0;
        border-left-width: 0;
        .rotate(45deg);
    }

    &:checked:after {
        background-color: @brand-primary;
        border-color: @brand-primary;
    }

    &:disabled:after {
        border-color: @gray-light;
    }

    &:disabled:checked:after {
        background-color: @gray-light;
        border-color: transparent;
    }
}