// Navs =======================================================================

@tab-color : darken(@iGreen,5%);

.nav-tabs {
    > li > a,
    > li > a:focus {
        margin-right: 0;
        background-color: transparent;
        border: none;
        color: #1e2628;
        .box-shadow(inset 0 -1px 0 #ddd);
        .transition(all 0.2s);

        &:hover {
            background-color: transparent;
            .box-shadow(inset 0 -2px 0 @tab-color);
            //color: @tab-color;
        }
    }

    & > li.active > a,
    & > li.active > a:focus {
        border: none;
        .box-shadow(inset 0 -2px 0 @tab-color);
        color: @tab-color;

        &:hover {
            border: none;
            color: @tab-color;
        }
    }

    & > li.disabled > a {
        .box-shadow(inset 0 -1px 0 #ddd);
    }

    &.nav-justified {

        & > li > a,
        & > li > a:hover,
        & > .active > a,
        & > .active > a:hover {
            border: none;
        }
    }

    .dropdown-menu {
        margin-top: 0;
    }
}

.dropdown-menu {
    border: none;
    .box-shadow(0 1px 4px rgba(0,0,0,.3));
}