.decor {
    overflow: hidden;
    width: 100%;
    span {
        position: relative;
        display: inline-block;
        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            border-bottom: 1px solid #dddddd;
            width: 9999px;
            margin: 0 20px;
        }
        &:before {
            right: 100%;
        }
        &:after {
            left: 100%;
        }
    }
}