<div ui-view class="dashboard-preview" ng-class="{'active':preview}"></div>

<div class="dashboard-groups">

    <div class="col-xs-3" ng-repeat="group in groups">
        <div class="dashboard-top">
            <h5 class="dashboard-col">
                <i class="fa" ng-class="group.icon"></i> [{group.name}]
                <span class="badge">[{tasks.groups[group.class].length}]</span>
            </h5>
        </div>
        <div class="dashboard-tasks">
            <div class="dashboard-col tasks-col" data-id="[{group.id}]"
                 ui-sortable="sortableOptions" ng-model="tasks.groups[group.class]">
                <div class="task" data-id="[{task.id}]"
                     ng-repeat="task in tasks.groups[group.class]" ng-class="task.priority.class">
                    <div class="task-handle"></div>
                    <div class="task-title">
                        <div class="assign">
                            <img src="" ng-src="{{avatars}}[{task.assign.avatar}]">
                            <span class="name">[{task.assign.name}]</span>
                        </div>
                        <h6>
                            <span class="fa [{task.type.icon}]"></span>
                            <a href="/RapidBoard/task/[{task.id}]" ui-sref="RapidBoard.task({id:[{task.id}]})">[{task.title}]</a>
                        </h6>
                    </div>
                    <div class="task-body">
                        <span class="fa [{task.priority.icon}]"></span>
                        <p>[{task.message}]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>