<a class="btn btn-default fa fa-close" ng-hide="!preview"
   href="/RapidBoard" ui-sref="RapidBoard"></a>
<div class="task task-preview">
    <div class="panel panel-default">
        <div class="panel-heading">
            <ol class="breadcrumb">
                <li><a href="/RapidBoard" ui-sref="RapidBoard">RapidBoard</a></li>
                <li class="active" ng-if="!preview">
                    [{task.title}]
                </li>
                <li class="active" ng-if="preview">
                    <a href="/task/[{task.id}]" ui-sref="task({id:[{task.id}]})">
                        [{task.title}]
                    </a>
                </li>
            </ol>
            <h5>[{task.message}]</h5>
        </div>
        <div class="panel-body">
            <div class="btn-group" dropdown>
                <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                    <img ng-src="{{avatars}}[{task.assign.avatar}]" width="18"> [{task.assign.name}]</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="(id,user) in users" ng-click="task.assign = user">
                        <a href="#">
                            <img ng-src="{{avatars}}[{user.avatar}]" alt="[{user.name}]" width="18" /> [{user.name}]
                        </a>
                    </li>
                </ul>
            </div>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default"
                        ng-click="changeGroup(task.id,3)">
                    Resolve</button>
                <button type="button" class="btn btn-default"
                        ng-click="changeGroup(task.id,4)">
                    Close</button>
            </div>
            <hr/>

            <div class="row">

                <div class="col-xs-4">
                    <dl class="dl-horizontal">
                        <dt>Type</dt>
                        <dd class="[{task.type.class}]">
                            <i class="fa [{task.type.icon}]"></i>
                            [{task.type.name}]
                        </dd>

                        <dt>Priority</dt>
                        <dd class="[{task.priority.class}]">
                            <i class="fa [{task.priority.icon}]"></i>
                            [{task.priority.name}]
                        </dd>
                    </dl>
                </div>

                <div class="col-xs-4 peoples">
                    <dl class="dl-horizontal">
                        <dt>Assignee</dt>
                        <dd>
                            <img src="" ng-src="{{avatars}}[{task.assign.avatar}]">
                            <span class="name">[{task.assign.name}]</span>
                        </dd>

                        <dt>Reporter</dt>
                        <dd>
                            <img src="" ng-src="{{avatars}}[{task.author.avatar}]">
                            <span class="name">[{task.author.name}]</span>
                        </dd>
                    </dl>
                </div>

                <div class="col-xs-4 date">
                    <dl class="dl-horizontal">
                        <dt>Status</dt>
                        <dd class="[{task.status.class}]">
                            <i class="fa [{task.status.icon}]"></i>
                            [{task.status.name}]
                        </dd>

                        <dt>Created</dt>
                        <dd>
                            <i class="fa fa-calendar"></i>
                            <span time-ago="task.date"></span>
                        </dd>
                    </dl>
                </div>

            </div>

            <div class="row">
                <h4 class="decor"><span>Description</span></h4>
                <blockquote class="col-xs-12">
                    <p ng-bind-html="task.description"></p>
                </blockquote>

                <h4 class="decor"><span>Attachments</span></h4>
                <div class="row">
                    <div class="col-xs-12 attachments">
                        <div class="img" ng-repeat="file in task.attachments">
                            <img src="" ng-src="{{media}}/tasks/thumbs/[{file.name}]"
                                 alt="" class="img-thumbnail" />
                            <a class="download" href="/download/[{file.id}]"
                               target="_blank" title="[{file.original}]">
                                <i class="fa fa-download"></i>
                                <span>[{file.original}]</span>
                            </a>
                        </div>
                    </div>
                </div>

                <h4 class="decor"><span>Comments</span></h4>
                <div role="tabpanel">

                    <!-- Nav tabs -->
                    <!--<ul class="nav nav-tabs" role="tablist">
                        <li class="active">
                            <a href="#" data-toggle="tab" disabled>Comments</a>
                        </li>
                    </ul>-->

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane comments active" id="comments">
                            <div class="comments-add">
                                <a href="#" class="author">
                                    <img class="author-image" src="{{avatars}}{{user.avatar}}" alt="">
                                </a>
                                <div class="form-group">
                                    <button type="button" class="btn pull-right"
                                            ng-click="comment.Add(task.id)">Send</button>
                                    <label class="overflow-hidden">
                                        <textarea class="form-control"
                                                  ng-model="comment.text"></textarea>
                                    </label>
                                </div>
                            </div>
                            <hr/>
                            <div class="comments-list">
                                <div class="comment" ng-repeat="comment in task.comments">
                                    <a href="#" class="author">
                                        <img class="author-image" ng-src="{{avatars}}[{users[comment.aid].avatar}]" src="" alt="">
                                        <span class="author-name ng-binding">[{users[comment.aid].name}]</span>
                                    </a>
                                    <span class="date">added comment — <strong time-ago="comment.date">24 апр. 2015</strong></span>
                                    <div>[{comment.text}]</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>