.profile {

    &-sidebar {
        padding:20px 0 0 0;
        border: 1px solid #ddd;
        border-radius: 3px;
        width: 300px;
        float: left;
    }
    &-userpic img {
        float:none;
        margin:0 auto;
        width:65%;
        height:65%;
        -webkit-border-radius:50% !important;
        -moz-border-radius:50% !important;
        border-radius:50% !important;
    }
    &-usertitle {
        text-align:center;
        margin-top:20px;
        &-name {
            color:#1e2628;
            font-size:16px;
            font-weight:600;
            margin-bottom:7px;
        }
        &-job {
            text-transform:uppercase;
            color:#337ab7;
            font-size:12px;
            font-weight:600;
            margin-bottom:15px;
        }
    }
    &-userbuttons {
        text-align:center;
        margin-top:10px;
        .btn {
            text-transform:uppercase;
            font-size:11px;
            font-weight:600;
            padding:6px 15px;
            margin-right:5px;
        }
        .btn:last-child {
            margin-right:0px;
        }
    }
    &-usermenu {
        margin-top:30px;
        ul li {
            border-bottom:1px solid #f0f4f7;
            a {
                color:#93a3b5;
                font-size:14px;
                font-weight:400;
                i {
                    margin-right:8px;
                    font-size:14px;
                }
            }
            a:hover {
                background-color:#fff;
                color:#337ab7;
            }
        }
        ul li:last-child {
            border-bottom:none;
        }
        ul li.active {
            border-bottom:none;
            a {
                color:#337ab7;
                background-color:#f5f5f5;
                border: 1px solid #ddd;
                border-left:2px solid #337ab7;
                margin: 0 -1px 0 -2px;
            }
        }
    }
    &-content {
        padding:20px;
        //background:#ffffff;
        min-height:460px;
        overflow-x: hidden;
    }
}